// Colors
// -------------------------

$black:          #212427;
$white:          #FFF;

$pink: 			 #ff1ca0;

$blue:           #49A7EB;
$blue--dark:     #010c29;
$blue--medium:   #484ab3;
$blue--mid:      #0065F2;
$blue--light:    #e3e9fd;
$teal--dark: 		#007379;
$purple--dark: #311551;
$purple--light: #efe2ff;
$coral: #FF784F;
$green: #6dda01;

$gray--light:    #dedede;
$gray--blue:    #858cad;
$gray--dark:    #2e292a;

$inactive:       #EFF1F7;

$primary-color:    $pink;
$secondary-color:  $teal--dark;
$text-color:       $black;	

$background--color: $white;

$form-field: $inactive;

$container: 1270px;
$inner-container: 600px;
$inner-container-large: 960px;

// Breakpoint Sizes
// -------------------------

$breakpoints: (
  small: 540px,
  medium: 960px,
  large: 1060px,
  x-large: 1600px,
  xx-large: 2800px,
);

// Fonts
// -------------------------

$font-family-serif: 'Lora', serif;
$font-family-sans: 'Poppins', sans-serif;
$font-family-display: 'Permanent Marker', cursive;

$line-height: 1.4;

// 

// Font Sizes
// -------------------------


// Spacing

$default-spacing: 1rem;

@import 'mixins';