.accordion{
	min-height: 100vh;
	display: flex;
	align-items: center;
	background: $gray--light;
	padding: 6rem 0;
	&__container.container{
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__accordion{
		width: 100%;
		max-width: 28rem;
	}
	&__heading{
		margin-bottom: 1rem;
	}
	&-button{
		&:hover{
			background-color: #eae8ee;
		}
	}
	&__intro{
		text-align: center;
		max-width: 33rem;
		margin-bottom: 1rem;
	}
	&-item{
		margin-bottom: .5rem;
	}
	.accordion-button{
		border-bottom: .25rem solid $purple--dark;
	}
}