.container, .is-style-container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
	max-width: 62rem;
	@include breakpoints(small){
		max-width: 118rem;
	}
}
