.site-header{
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 2;
	background: $gray--light;
	display: none;
	&__inner{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}