body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: $background--color;
	color: $text-color;
}

li{
	list-style: none;
}

.content-page .component > .container{
	padding: 0;
}