html{
    font-size: 100%;
	line-height: $line-height;
}   

body{
	font-family: $font-family-serif;
}

p{
    font-size: 1.2rem;
	line-height: $line-height;
}

a{
    color: #509BC9;
}

h1, h2, h3{
	font-family: $font-family-sans;
    line-height: $line-height;
	font-weight: 700;
}

h5, h6{
	// font-family: $font-family-sans;
}

h1{
	font-size: 10rem;
	letter-spacing: -0.05em;
}

h2{
	font-size: 3.2rem;
	letter-spacing: -0.05em;
}

h3{
	font-size: 1.8rem;
}

h4{
	font-size: 1.8rem;
}

h5{
	font-weight: 700;
	font-size: 1.4rem;
	text-transform: uppercase;
	font-style: italic;
}

.subtitle span{
	font-family: $font-family-sans;
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
}