.about-me{
	padding: 6rem 0;
	background: $purple--light;
	min-height: 100vh;
	display: flex;
	align-items: center;
	&__container.container{
    	justify-content: center;
		align-items: center;
		position: relative;
		flex-direction: row;
		@media screen and (min-width: 1061px) {
			align-items: flex-start;
		}
	}
	&__content{
		display: flex;
    	flex-direction: column;
    	flex: 1;
		padding-right: 1rem;
		box-sizing: border-box;
	}
	&__info{
		display: flex;
		flex-direction: row;
		align-items: center;

	}
	&__subtitle{
		position: relative;
		top: 1.6rem;
		span{
			color: $pink;
		}
	}
	&__title{
		
	}
	&__text{
		p{
			font-size: 1rem;
		}
		.actions{
			margin-top: 2rem;
		}
	}
	&__image{
		border: 1rem solid $white;
		box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
		transform: rotate(6deg);
		margin-left: 1rem;
		width: 21rem;
		overflow: hidden;
		margin-top: 5rem;
		&:before{
			transform: rotate(6deg);
			height: 20%;
			width: 47%;
			bottom: 30px;
			right: 12px;
			box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
		}
		@media screen and (min-width: 1061px) {
			position: absolute;
			right: 5rem;
			top: 6rem;
			margin-top: 0;
		}
		@media screen and (min-width: 1061px) {
		}
		img{
			object-fit: cover;
			height: 100%;
		}
	}
	&__testimonials{
		display: flex;
		flex-direction: column;
		flex: 1;
		padding-top: 5rem;
		width: 20rem;
	}
}